# VSCode-specific ignores
.vscode/

# NPM-specific ignores
node_modules/
package-lock.json
package.json

# Python-specific ignores
__pycache__/
*.py[cod]
*$py.class

# System/tool-specific ignores
.directory
.DS_Store
*~

# AsulconS-specific ignores
sketch/
